# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
Grimoire Sol.docx
lib/src/trait.dart.old
Grimoire Hagall.docx
Grimoire Yr.docx
Grimoire Tyr.docx
Grimoire-Yr.docx
Grimoire-Sol.docx
Grimoire-Tyr.docx
Grimoire-Hagall.docx
